h1{
    color: gray;
    text-align: center;
}
#github{
    border-style: solid;
    border-color: blueviolet;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 10%;
    margin: 20px;
}
#nazrul{
    margin: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 3px;
    padding: 20px 20px 20px 20px;
    border-radius: 3%;
    
}
#head{
    text-align: center;
}